#contactName,
#contactMail {
	width: calc(48% - 20px);
	background: transparent;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #7D7D7D;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	background: transparent;
	letter-spacing: 2px;
	}

#contactName {
	float: left;
	}

#contactMail {
	float: right;
	}

#contactMSG {
	width: 95.4%;
	height: 150px;
	background: transparent;
	color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #7D7D7D;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	background: transparent;
	letter-spacing: 2px;
	}

#contactName:hover,
#contactMail:hover,
#contactMSG:hover {
	border: 1px solid #D9974B;
	}

#social-links-c {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
	}

#social-links-c ul {
	width: 660px;
	display: flex;
	transition: .35s;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 970;
	}

#social-links-c li {
	margin: 10px 25px;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	}

#social-links-c li:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#social-links-c a {
	display: contents;
	}

#social-links-c div {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

#social-links-c img {
	max-width: 30px;
	max-height: 20px;
	}