#photo-2018-1-1 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) top no-repeat;
	background-size: contain;
	}

#photo-2018-1-2 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) top no-repeat;
	background-size: contain;
	}

#photo-2018-1-3 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) top no-repeat;
	background-size: contain;
	}

#photo-2018-1-4 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) top no-repeat;
	background-size: contain;
	}

#photo-2018-1-5 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) top no-repeat;
	background-size: contain;
	}

#photo-2018-1-6 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) top no-repeat;
	background-size: contain;
	}