#photosSlide-prev,
#photoSlide-2018-1-prev,
#photoSlide-2018-2-prev {
	width: 20px;
	height: 100px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/arrow-1.svg) center no-repeat;
	background-size: contain;
	transform: rotate(180deg);
	}

#photosSlide-next,
#photoSlide-2018-1-next,
#photoSlide-2018-2-next {
	width: 20px;
	height: 100px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/arrow-1.svg) center no-repeat;
	background-size: contain;
	}

#photoSlide-2018-1-prev,
#photoSlide-2018-1-next,
#photoSlide-2018-2-prev,
#photoSlide-2018-2-next {
	height: 50px !important;
	top: calc(50% - 25px);
	}

#photoSlide-2018-1-prev,
#photoSlide-2018-2-prev {
	left: 45px;
	}

#photoSlide-2018-1-next,
#photoSlide-2018-2-next {
	right: 45px;
	}

.photosSlider-arrow,
.photoSlider-arrow {
	position: absolute;
	border: none;
	cursor: pointer;
	}

.photosSlider-arrow:hover,
.photoSlider-arrow:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg);
	}

#photosAlbums {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	}

.photosYear {
	font-size: 14px;
	color: #D9974B;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	text-align: left;
	border-bottom: 1px solid #3D3D3D;
	}

#photosSliders {
	padding-top: 20px;
	}

.photosSlider-arrow-prev,
.photoSlider-arrow-prev {
	left: 25px;
	}

.photosSlider-arrow-next,
.photoSlider-arrow-next {
	right: 25px;
	}

.photosSlider-2018,
.photosSlider-2017 {
	width: calc(100% - 80px);
	overflow-x: hidden;
	display: flex;
	align-items: center;
	margin: auto;
	gap: 10px;
	}

.photosSlide-2018,
.photosSlide-2017 {
	flex: 0 0 calc(25% - 8px);
	flex-flow: column wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.photosCover {
	aspect-ratio: 16/9;
	width: 100%;
	border: 1px solid #7D7D7D;
	filter: grayscale(1);
	opacity: .75;
	}

.photosTitle {
	width: 100%;
	color: #9D9D9D;
	font-size: 12px;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	}

.photosSlide-2018:hover .photosCover,
.photosSlide-2017:hover .photosCover {
	border: 1px solid #D9974B;
	filter: none;
	opacity: 1;
	cursor: pointer;
	}

.photosSlide-2018:hover .photosTitle,
.photosSlide-2017:hover .photosTitle {
	color: #D9974B;
	cursor: pointer;
	}

#cover-2018-1 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

#cover-2018-2 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2018-3 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

#cover-2018-4 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2018-5 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

#cover-2018-6 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2017-1 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2017-2 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

#cover-2017-3 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2017-4 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

#cover-2017-5 {
	background: url(https://sun9-38.userapi.com/impf/c850228/v850228213/3706d/Ovqcq4pWbiI.jpg?size=2560x1707&quality=96&sign=363642a9819d2cd700d05c1057995993&type=album) center no-repeat;
	background-size: cover;
	}

#cover-2017-6 {
	background: url(https://insanechronos.github.io/sventoyar/assets/news/post-cover.jpg) center no-repeat;
	background-size: cover;
	}

.photoAlbumsHidden {
	width: 100%;
	height: 100%;
	background: #212121;
	font-size: 14px;
	color: #BDBDBD;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	position: absolute;
	top: 0;
	z-index: 1000;
	display: none;
	}

.photoAlbumsVisible {
	width: 100%;
	height: 100%;
	background: #212121;
	font-size: 14px;
	color: #BDBDBD;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	}

.closeButton {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 35px;
	top: 35px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/close.svg) center no-repeat;
	background-size: cover;
	z-index: 990;
	}

.closeButton:hover {
	cursor: pointer;
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg);
	}

.photoAlbum {
	width: 60%;
	height: 100%;
	border-collapse: collapse;
	}

#photoSlider {
	padding: 0;
	}

.photoSlider {
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	}

.photoBG {
	width: 100%;
	height: 100%;
	position: absolute;
	}

.photo {
	aspect-ratio: 1;
	flex: 0 0 100%;
	flex-flow: column wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.albumTop {
	width: 60%;
    padding: 37.5px 0px;
    position: absolute;
    top: 0;
    background: #212121;
	}

.albumTitle {
	width: 60%;
	height: 25px;
    padding: 25px 0px;
    position: absolute;
    bottom: 0;
    background: #212121;
	}

#photoDivider {
	width: 250px;
	border-bottom: 1px solid #9D9D9D;
	margin: 0px auto 10px auto;
	}

.photoTitle {
	text-align: center;
	color: #9D9D9D;
	}

.albumsColumn {
	display: flex;
	flex-direction: column;
	}
