#postCover {
	width: calc(100% - 2px);
	height: 300px;
	border: 1px solid #7D7D7D;
	margin-bottom: 10px;
	}

#postCover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

#post h1 {
	font-size: 15px;
	}

#date {
	font-size: 14px;
	}

#share {
	width: 100%;
	height: 40px;
	margin-bottom: 25px;
	}

#shareButton {
	width: 40px;
	height: 40px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/share.svg) center no-repeat;
	background-size: contain;
	cursor: pointer;
	float: right;
	}

#shareContainer {
	width: 200px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
	float: right;
	position: relative;
	left: 50px;
	transition: .35s ease-in-out;
	}

#shareTitle {
	height: 10px;
	line-height: 10px;
	}

#shareLinks {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	line-height: 60px;
	position: relative;
	top: 10px;
	left: -5px;
	}

#shareLinks li {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	}

#shareLinks a {
	display: block;
	width: 20px;
	height: 20px;
	}

#shareFB {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/facebook-c.svg) center no-repeat;
	background-size: contain;
	}

#shareGP {
	width: 24px !important;
	height: 24px !important;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/googleplus-c.svg) center no-repeat;
	background-size: contain;
	position: relative;
	top: -2px;
	}

#shareVK {
	width: 24px !important;
	height: 24px !important;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/vk-c.svg) center no-repeat;
	background-size: contain;
	position: relative;
	top: -2px;
	}

#shareTX {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/twitter-c.svg) center no-repeat;
	background-size: contain;
	}

#topButton:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#shareButton:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#shareFB:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#shareGP:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#shareVK:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#shareTX:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}