html {
	height: 100%;
	}

body {
	height: 100%;
	background-color: #212121;
	margin: 0;
	overflow: hidden;
	}

body a {
	text-decoration: none;
	}

body p {
	margin: 0 0 20px 0;
	}

body p:last-child {
	margin: 0;
	}

input:focus-visible,
textarea:focus-visible {
	outline: 0;
	}

button {
	cursor: pointer;
	border: 0;
	}

#overlay {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 996;
	display: block;
	visibility: hidden;
	transition: .35s;
	}

#content {
	width: 55%;
	height: calc(100% - 140px);
	margin: auto;
	padding: 0 25px;
	color: #9D9D9D;
	font-family: "Magistral";
	font-weight: lighter;
	letter-spacing: 1px;
	position: relative;
	top: 70px;
	line-height: 25px;
	font-size: 15px;
	overflow-y: auto;
	}

#content h2 {
	font-size: 14px;
	color: #7D7D7D;
	font-family: "Magistral";
	font-weight: 500;
	font-style: normal;
	text-align: center;
	margin: 0px auto 35px auto;
	}

#topPage {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 985;
	background: #212121;
	}

#sidenav {
	margin-left: -220px;
	}

.title {
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 10px;
	text-align: center;
	color: #7D7D7D;
	position: fixed;
	z-index: 986;
	margin: 0;
	}

.titles {
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 10px;
	text-align: center;
	color: #9D9D9D;
	position: fixed;
	z-index: 986;
	margin: 0;
	}

.lastLetter {
	letter-spacing: 0px;
	}

#titleTop {
	top: 30px;
	}

#titleFooter {
	bottom: 30px;
	}

#divider {
	width: 50px;
	border-bottom: 1px solid #5D5D5D;
	margin: 10px auto 0 auto;
	}

.sidenav {
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 999;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: .35s;
	background-color: #242424;
	}

.sidenav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 10px;
	color: #212120;
	display: block;
	letter-spacing: 5px;
	}

.sidenav a:hover {
	color: #FFFFFF;
	}

.current-link {
	color: #FFFFFF !important;
	}

#sidenav::-webkit-scrollbar {
	width: 1px;
	}

#sidenav::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

#sidenav::-webkit-scrollbar-thumb {
	background: #373737;
	}

#content::-webkit-scrollbar {
	width: 5px;
	}

#content::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

#content::-webkit-scrollbar-thumb {
	background: #373737;
	}

#open-menu {
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 999;
	font-size: 30px;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: 30px;
	left: 30px;
	transition: .35s;
	}

#open-menu:hover {
 	border: 0px solid transparent;
	}

#burger {
	width: 50px;
	height: 50px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/burger-1.svg) center no-repeat;
	background-size: cover;
	border-radius: 50%;
	}

#burger:hover {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/burger-2.svg) center no-repeat;
	background-size: cover;
	}

#subscribe {
	width: 216px;
	display: grid;
	align-content: center;
	justify-content: center;
	margin: auto;
	}

#subscribe h2 {
	font-size: 10px;
	color: #7D7D7D;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 2px;
	text-align: center;
	margin: 50px auto 10px auto;
	}

#socialContainer {
	}

#social-links {
	width: 40px;
	height: 100%;
	position: fixed;
	transition: .35s;
	top: 0;
	left: 35px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 998;
	}

#social-links a {
	display: contents;
	}

#social-links li {
	display: contents;
	}

.social-link {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 5px 0;
	}

#facebook {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/facebook.svg) center no-repeat #212120;
	background-size: contain;
	}

#vk {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/vk.svg) center no-repeat #212120;
	background-size: contain;
	}

#youtube {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/youtube.svg) center no-repeat #212120;
	background-size: contain;
	}

#instagram {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/instagram.svg) center no-repeat #212120;
	background-size: contain;
	}

#soundcloud {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/soundcloud.svg) center no-repeat #212120;
	background-size: contain;
	}

#bandcamp {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/bandcamp.svg) center no-repeat #212120;
	background-size: contain;
	}

#itunes {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/itunes.svg) center no-repeat #212120;
	background-size: contain;
	}

#googleplay {
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/googleplay.svg) center no-repeat #212120;
	background-size: contain;
	}

#nav-links {
	height: 325px;
	background: #D9974B;
	padding-top: 85px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

.mail {
	margin: auto;
	line-height: 3;
	border-top: 0;
	border-bottom: 1px solid #7D7D7D;
	border-left: 0;
	border-right: 0;
	background: transparent;
	color: #7D7D7D;
	text-align: center;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: bold;
	font-style: normal;
	letter-spacing: 2px;
	}

.subscribe {
	width: 100%;
	color: #7D7D7D;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	background: transparent;
	padding: 15px;
	border: 1px solid #7D7D7D;
	letter-spacing: 2px;
	margin: 10px auto 50px auto;
	}

.subscribe:hover {
	color: #000;
	background: #D9974B;
	padding: 15px;
	border: 1px solid #D9974B;
	cursor: pointer;
	}

#langContainer {
	width: 100px;
	height: 100px;
	text-align: center;
	position: fixed;
	z-index: 994;
	font-size: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: #7D7D7D;
	top: 36px;
	right: 6px;
	transition: .35s;
	opacity: 0;
	}

#langSelect {
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 995;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	color: #7D7D7D;
	background: #212121;
	top: 30px;
	right: 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

#langSelect:hover,
#secondLang:hover {
	border: 1px solid #D9974B;
	color: #D9974B;
	}

#secondLang {
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 994;
	cursor: pointer;
	display: none;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	color: #7D7D7D;
	background: #212121;
	right: 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

@keyframes scale {
	0% {transform: scale(0); opacity: 0;}
	100% {transform: scale(1); opacity: 1;}
	}

.scale {
	animation: .5s linear 0s 1 scale;
	}

@keyframes fadeIn {
	0% {opacity: .5;}
	100% {opacity: 1;}
	}

.fadeIn {
	animation: 1s linear 0s 1 fadeIn;
	}

#footerPage {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	z-index: 985;
	background: #212121;
	}

#merch {
	width: 108px;
	height: 90px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/merch.svg) center no-repeat;
	background-size: contain;
	}

#merchContainer {
	width: 108px;
	height: 90px;
	margin: 25px auto;
	position: fixed;
	left: 25px;
	bottom: 0;
	z-index: 999;
	transition: .35s
	}

#nutsContainer {
	width: 135px;
	height: 235px;
	position: fixed;
	right: 0px;
	bottom: 0;
	z-index: 999;
	transition: .35s;
	}

#nuts {
	width: 135px;
	height: 235px;
	background: url(https://insanechronos.github.io/sventoyar/assets/svg/nuts.svg) center bottom no-repeat;
	background-size: cover;
	}

#squirrel {
	width: 135px;
	height: 235px;
	background: none;
	display: none;
	}

@keyframes squirrel {
	0% {background-position: 0px;}
	20% {background-position: 0px;}
	50% {background-position: -5261px;}
	80% {background-position: -5261px;}
	100% {background-position: 0px;}
	}

@keyframes squirrel-m {
	0% {background-position: 0px;}
	20% {background-position: 0px;}
	50% {background-position: -2925px;}
	80% {background-position: -2925px;}
	100% {background-position: 0px;}
	}

.social-link:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#merch:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}